* {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#world {
    width: 100vw;
    height: 100vh;
    background:linear-gradient(#A2AACF, #5972AA);
}